.call-main-container{
    height:90%;
    width:50%;
    border-radius:1.3rem;
    background-color:white;
}
.remote-vid-div{
    height:100%;
    width:100%;
    position:relative;
}
.call-name{
    position:absolute;
}
.video-div{
    position:absolute;
    width:200px;
    border-radius:10px;
    top:60%;
    right:1.4rem;
    overflow:hidden;
}
.video-div  video{
    height:auto;
    width:100%;
    display:block;
     
}
.button{
    position:absolute;
    top:0;  
}
