.createGroupDiv{
   position:absolute;
   width:70%;
   height:93%;
   background:rgba(221, 231, 221, 0.733);
   backdrop-filter:blur(10px);
   border-radius:1.4rem;
   
   display:flex;
   flex-direction:column;
   box-shadow:0 8px 30px rgba(12, 12, 12, 0.616);
}
.mainContainer{
    display:flex;
    width:100%;
    height:100%;
    flex-direction:row;
}
.leftSide{
    flex:1;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.profilePhotodiv{
    height:13rem;
    width:13rem;
    background-color:aqua;
    border-radius:50%;
}

.rightSide{
  flex:1;
}
.createGroupbutton{
  margin:auto;
  margin-bottom: 1.1rem;
  padding:0.8rem 1.1rem;
  /* background-color:#25D366; */
  background:linear-gradient(to right,rgb(8, 223, 87),rgb(82, 241, 141));
  color:white;
  box-shadow:0 8px 30px rgba(0,0,0,.15);
  border-radius:20px;  
  transition:all 0.3s;
  
}
.createGroupbutton:hover{
    transform:scale(1.01);
}