.group-info{

   position:relative;
    height: 100%;
    margin-left: 1rem;
    background: #fff;
    border-radius: 16px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.group-info::-webkit-scrollbar{
    display:none;
}
.group-info-header{
    margin-top:1.1rem;
    
    display:flex;
    gap:2rem;
    font-size:1.2rem;
    flex-direction:row;
    align-items:center;
    margin-left:10px;
    justify-content:space-between;
}
.nameAndHeader{
    display:flex;
    align-items:center;
    flex-direction:row;
    
}
.icon-div-editPage{ 
   width: 40px;
    height: 40px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .2s;
}

.icon-div-editPage:hover{
    transform:scale(1.1);
    background-color:rgb(236, 233, 233);
}
.icon-div-editPage {
    cursor:pointer;
}
.profile-div{
   display:flex;
   flex-direction:column;
   align-items:center;
   justify-content:center;
   border:none;
   outline:none;

}
.group-info .profile-div img{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
}
.group-info .profile-div p {
    margin-top:1.1rem;
    font-size:1.5rem;
}
.group-info-name{
    font-size:15px;
}
.action-div{
     display:flex;
    justify-content:center;
    gap:2rem;
    margin-top:1.5rem;
}
.action-card{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:8px;
    cursor:pointer;
}

.icon-circle{
    width:40px;
    height:40px;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:50%;
    transition:.2s;
}

.icon-circle:hover{
    background:#ececec;
    transform:scale(1.08);
}

.icon-circle i{
    /* color:rgb(93, 207, 252); */
    font-size:1.3rem;
}
.member-card .pic >img{
    height:50px;
    width:50px;
    border-radius:50%;
}

.member-card {
    display:flex;
    align-items:center;
    padding:12px 16px;
    border-radius:13px;
    transition:.2s;
    cursor:pointer;
    justify-content:space-between;
    
}
.member-card-info{
    display:flex;
    justify-content : center;
    /* align-items:center; */
}
.member-card .three-dot{
    height:40px;
    width:40px;
    border-radius:50%;
    display:flex;
    justify-content:center;
  
    align-items:center;
    /* margin-right: 0.6rem; */
}
.member-card:has(.three-dot:hover){
    background-color: white;
}
.member-card .three-dot:hover{
    background-color:rgb(192, 191, 191);
}
.member-card:hover{
    background:#f6f6f6;
}

.member-info{
    margin-left:12px;
    display:flex;
    flex-direction:column;
}

.member-info p{
    font-size:1rem;
    font-weight:500;
}

.member-info span{
    color:gray;
    font-size:0.8rem;
}
.members-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:1.5rem 1rem 0.5rem;
    padding-bottom:10px;
    border-bottom:1px solid #ececec;
}

.members-header p{
    font-size:1rem;
    font-weight:600;
}

.members-header span{
    color:rgb(156, 156, 156);
    font-size:0.9rem;
}
.admin-option-list{
    position: fixed;

    min-width: 160px;

    background: rgba(255, 255, 255, 0.95);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 12px;

    padding: 4px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);

    z-index: 99999;
}

.admin-option  i{
   padding-right:12px;
}
.admin-option {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius:12px;
  padding: 10px 15px;
  cursor: pointer;
}

.admin-option:hover{
    background-color: rgba(179, 177, 177, 0.171);
}
.admin-option span{
    font-size:0.8rem;
    padding-right:12px;
}